@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*---------Variables----------*/
$color-principal:rgb(34, 34, 255);

/*---------Listas----------*/
$colores: red, blue, orange;

/*---------Extends----------*/
%flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*---------Mixins----------*/
@mixin flex ($flex, $justify, $aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}


/*---------RESET----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    align-items: center;
    font-family: "Oswald", sans-serif;
}

/*-----Animacion banner index------*/
@keyframes slider {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }

}

/*-----Animacion banner marcas index------*/
@keyframes animacion {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/*-----Acordeon de seccion ayuda------*/
.contenedor-acordeon input:checked~.tab-contenido {
    max-height: 100vh;
    padding: 1em;
    background: whitesmoke;
    color: black;
}